{minimum_otp_vsn, "23"}.
{erl_opts, [debug_info, bin_opt_info]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:nomasystems/erlfmt.git", {tag, "v1.0.0"}}}
]}.
{erlfmt, [write]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [
            {nct_util, {git, "git@github.com:nomasystems/nct_util.git", {branch, "main"}}},
            {triq, {git, "git@github.com:nomasystems/triq.git", {branch, "master"}}}
        ]}
    ]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"},
        {cover, "-m 95"}
    ]},
    {ci_test, [
        {ct, "--spec test/conf/ci_test.spec --cover --readable true"},
        {cover, "-m 95"}
    ]}
]}.

{cover_opts, [verbose]}.
{cover_enabled, true}.

{xref_ignores, [
    % API
    {nthrottle, start, 2},
    {nthrottle, prep_stop, 1},
    {nthrottle, stop, 1},
    {nthrottle, start_throttling, 2},
    {nthrottle, stop_throttling, 1},
    {nthrottle, throttle, 1},
    {nthrottle, throttle, 2},
    {nthrottle, rps, 1},
    {nthrottle, rps, 2},
    % Supervisor
    {nthrottle_srv, start_link, 0},
    % Interval
    {nthrottle_srv, renew_interval, 1}
]}.
